<div class="main-wrapper">
  {{> navigation}}
  <div class="main-view-and-toolbar">
    {{> toolbar}}
    <div class="main-view-and-toc">
        <main class="main">
          {{> article}}
        </main>
        {{> toc}}
    </div>
  </div>
</div>